<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @meal.body %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @meal.patient_id %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
