<div class="row">
  <div class="columns large-12">
    <h4>Devices</h4>
  </div>
</div>

<div class="row" >
  <div class="large-12 columns" >
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Cost</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.id %></td>
            <td><%= device.name %></td>
            <td><%= device.manufacturer %></td>
            <td><%= device.model %></td>
            <td><%= device.cost %></td>
            <td><%= link_to 'Edit', edit_device_path(device) %></td>
            <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Device', new_device_path %>
</div>

 

