<div class="row">
  <div class="columns large-12">
    <h4>Patient ID: <%= @patient.id %></h4>
  </div>
</div>

<div class="row" >
  <div class="large-12 columns" >

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Patient</th>
          <th>Device</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @patient_devices.each do |patient_device| %>
          <tr>
            <td><%= patient_device.id %></td>
            <td><%= patient_device.device.name %></td>
            <td><%= link_to 'Edit', edit_patient_patient_device_path(@patient, patient_device) %></td>
            <td><%= link_to 'Destroy', patient_patient_device_path(@patient, patient_device), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Device', new_patient_patient_device_path %>
</div>

