<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @photo.meal_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @photo.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @photo.image_name %>
</p>

<p>
  <strong>External url:</strong>
  <%= @photo.external_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
